<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>8x4</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <table class="board">
        {% for i in range(0,2) %}
        <tr>
            <td class="squareE"></td>
            <td class="squareO"></td>
            <td class="squareE"></td>
            <td class="squareO"></td>
            <td class="squareE"></td>
            <td class="squareO"></td>
            <td class="squareE"></td>
            <td class="squareO"></td>
        </tr>
        <tr>
            <td class="squareO"></td>
            <td class="squareE"></td>
            <td class="squareO"></td>
            <td class="squareE"></td>
            <td class="squareO"></td>
            <td class="squareE"></td>
            <td class="squareO"></td>
            <td class="squareE"></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>